---
// Layout.astro
import "../styles/global.css";
import Navbar from "../components/Navbar.jsx";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		    <meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lucide/0.24.0/css/lucide.min.css" />

		<meta name="generator" content={Astro.generator} />
		    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap" rel="stylesheet">

		<title>Finance</title>
	</head>
	<body>
    <main>
      <slot /> <!-- Aquí se inyecta el contenido de cada página -->
    </main>
	</body>
</html>

<style>

</style>
